* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #282c34;
}

.like {
	width: 100px;
	height: 100px;
	background-image: url("../assets/heart.png");
}
